@using SESM.DAL
@using SESM.Tools.Helpers
@model SESM.Models.Views.Map.MapViewModel
@{
    ViewBag.Title = "Map List";
    List<SelectListItem> listDir = (List<SelectListItem>) ViewData["listDir"];
    int id = (int)ViewData["ID"];
    AccessLevel accessLevel = (AccessLevel)ViewData["AccessLevel"];
}
<div class="row">
    <section id="Form">
        @using (Html.BeginForm("Index", "Map", null, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <div class="col-md-3">
                @Html.ValidationSummary(true)
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.DropDownListFor(m => m.MapName, listDir, new {@class = "form-control", size = "15"})
                        @Html.ValidationMessageFor(m => m.MapName)
                    </div>
                </div> 
            </div>
            <div class="col-md-9" >
                <div class="form-group">
                    <div class="col-md-12">
                        <br/>
                        <br/>
                        <div class="btn-group-vertical">
                            @if ((ServiceState)ViewData["ServerState"] == ServiceState.Stopped)
                            {
                                <input type="submit" value="Select" name="action:SaveMap" class="btn btn-default" />
                            }
                            <input type="submit" onclick="return confirm('This will restart this server. Are you sure you want to do this ?');" value="Select And (Re)Start" name="action:SaveRestartMap" class="btn btn-default" />
                            <input type="submit" onclick="return confirm('This will delete this map. Are you sure you want to do this ?');" value="Delete Map" name="action:DeleteMap" class="btn btn-default" />
                            <input type="submit" value="Rename Map" name="action:RenameMap" class="btn btn-default" />
                            <input type="submit" value="Download Map" name="action:DownloadMap" class="btn btn-default" />
                            @if (accessLevel == AccessLevel.Admin || accessLevel == AccessLevel.SuperAdmin)
                            {
                                <a class="btn btn-default" href="@(Url.Action("Upload", "Map", new {id = id}))">Upload Map</a>
                            }
                            <a class="btn btn-default" href="@(Url.Action("New", "Map", new {id = id}))">Create Map</a>
                            
                        </div>
                    </div>
                </div>
            </div>
        }
    </section>
</div>
<div class="row">
    <div class="col-md-12">
        <a class="btn btn-default" href="@(Url.Action("Status", "Server", new {id = ViewData["ID"]}))">Back to Server Status</a>
    </div>
</div>