@model SESM.Models.Views.Map.NewMapViewModel

@{
    ViewBag.Title = "New Map";
}
<div class="row">
    <div class="col-md-6">
        @using(Html.BeginForm("New", "Map", null, FormMethod.Post, new { @class = "form-horizontal well", role = "form" }))
        {
            @Html.ValidationSummary()
            <div class="form-group">
                @Html.LabelFor(m => m.MapType, new { @class = "col-md-4 control-label" })
                <div class="col-md-8">
                    @Html.EnumDropDownListFor(m => m.MapType, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.MapType)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.AsteroidAmount, new { @class = "col-md-4 control-label" })
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.AsteroidAmount, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.AsteroidAmount)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ProceduralDensity, new { @class = "col-md-4 control-label" })
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.ProceduralDensity, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ProceduralDensity)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ProceduralSeed, new { @class = "col-md-4 control-label" })
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.ProceduralSeed, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ProceduralSeed)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-4 col-md-8">
                    <input type="submit" value="Create" onclick="return confirm('This will (re)start this server. Are you sure you want to do this ?');" class="btn btn-primary" />
                </div>
            </div>

        }
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <a class="btn btn-default" href="@(Url.Action("Index", "Map", new { id = ViewData["ID"] }))">
            <span class="glyphicon glyphicon-chevron-left"></span> Back to Map List
        </a>
    </div>
</div>
