@model SESM.Models.Views.Map.NewMapViewModel

@{
    ViewBag.Title = "New Map";
}
<div class="row">
    <div class="col-md-12">
        <section id="Form">
            @using (Html.BeginForm("New", "Map", null, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.ValidationSummary()
                <div class="form-group">
                    @Html.LabelFor(m => m.MapType, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.EnumDropDownListFor(m => m.MapType, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.MapType)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.AsteroidAmount, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.AsteroidAmount, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.AsteroidAmount)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" onclick="return confirm('This will (re)start this server. Are you sure you want to do this ?');" class="btn btn-default" />
                    </div>
                </div>

            }
        </section>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-12">
        <a class="btn btn-default" href="@(Url.Action("Index", "Map", new {id = ViewData["ID"]}))">Back to Map List</a>
    </div>
</div>
