@model SESM.Models.Views.Server.ServerViewModel
@{
    ViewBag.Title = "Signature Generator";
}
<link href="~/Scripts/Color/css/bootstrap-colorpicker.min.css" rel="stylesheet">
<script src="~/Scripts/Color/js/bootstrap-colorpicker.js"></script>
<script type="text/javascript">
    function precise_round(num, decimals) {
        var sign = num >= 0 ? 1 : -1;
        return (Math.round((num * Math.pow(10, decimals)) + (sign * 0.001)) / Math.pow(10, decimals)).toFixed(decimals);
    }
    function Encode() {
        var paramBuild = new Array();

        // Version
        paramBuild.push("1");

        // ServerID
        paramBuild.push("@ViewData["ID"]");

        // Template
        if ($('#Template1rd').is(':checked')) {
            paramBuild.push("1");
        }
        if ($('#Template2rd').is(':checked')) {
            paramBuild.push("2");
        }

        // Size
        paramBuild.push($("#Width").val());
        paramBuild.push($("#Height").val());

        // Background
        var colbg = $("#ColBg > span > i").css("background-color");
        if (colbg.substring(0, 4) == "rgba") {
            colbg = colbg.match(/^rgba\((\d+),\s*(\d+),\s*(\d+),\s*([01](\.\d+)?)\)$/);
        } else {
            colbg = colbg.match(/^rgb\((\d+),\s*(\d+),\s*(\d+)\)$/);
        }

        if (colbg.length == 6) {
            paramBuild.push(Math.round(parseFloat(colbg[4]) * 255));
        } else {
            paramBuild.push("255");
        }

        paramBuild.push(colbg[1]);
        paramBuild.push(colbg[2]);
        paramBuild.push(colbg[3]);

        // Primary

        var colprim = $("#ColPrim > span > i").css("background-color");
        if (colprim.substring(0, 4) == "rgba") {
            colprim = colprim.match(/^rgba\((\d+),\s*(\d+),\s*(\d+),\s*([01](\.\d+)?)\)$/);
        } else {
            colprim = colprim.match(/^rgb\((\d+),\s*(\d+),\s*(\d+)\)$/);
        }

        if (colprim.length == 6) {
            paramBuild.push(Math.round(parseFloat(colprim[4]) * 255));
        } else {
            paramBuild.push("255");
        }

        paramBuild.push(colprim[1]);
        paramBuild.push(colprim[2]);
        paramBuild.push(colprim[3]);

        // Secondary

        var colsec = $("#ColSec > span > i").css("background-color");
        if (colsec.substring(0, 4) == "rgba") {
            colsec = colsec.match(/^^rgba\((\d+),\s*(\d+),\s*(\d+),\s*([01](\.\d+)?)\)$/);
        } else {
            colsec = colsec.match(/^rgb\((\d+),\s*(\d+),\s*(\d+)\)$/);
        }

        if (colsec.length == 6) {
            paramBuild.push(Math.round(parseFloat(colsec[4]) * 255));
        } else {
            paramBuild.push("255");
        }

        paramBuild.push(colsec[1]);
        paramBuild.push(colsec[2]);
        paramBuild.push(colsec[3]);

        // --- Elements ---
        paramBuild.push($("#chkImg").prop('checked') ? "1" : "0");
        paramBuild.push($("#chkStatusImg").prop('checked') ? "1" : "0");

        var val = paramBuild.join(";");
        console.log(val);
        return val;
    }

    function Decode(data) {
        var paramBuild = data.split(";");
        var i = 0;
        // Version
        paramBuild[i++];

        // ServerID
        paramBuild[i++];

        // Template
        switch (paramBuild[i++]) {
            case "1":
                $("#Template1rd").prop("checked", true);
                break;
            case "2":
                $("#Template2rd").prop("checked", true);
                break;
        }

        // Size
        $("#Width").val(paramBuild[i++]);
        $("#Height").val(paramBuild[i++]);

        // Background
        var colbgAlpha = paramBuild[i++];
        $("#ColBg").colorpicker('setValue', "rgba(" + paramBuild[i++] + "," + paramBuild[i++] + "," + paramBuild[i++] + "," + precise_round(colbgAlpha / 255, 2) + ")");

        // Primary
        var colprimAlpha = paramBuild[i++];
        $("#ColPrim").colorpicker('setValue', "rgba(" + paramBuild[i++] + "," + paramBuild[i++] + "," + paramBuild[i++] + "," + precise_round(colprimAlpha / 255, 2) + ")");

        // Secondary
        var colsecAlpha = paramBuild[i++];
        $("#ColSec").colorpicker('setValue', "rgba(" + paramBuild[i++] + "," + paramBuild[i++] + "," + paramBuild[i++] + "," + precise_round(colsecAlpha / 255, 2) + ")");

        // --- Elements ---
        $("#chkImg").prop('checked', paramBuild[i++] == "1");
        $("#chkStatusImg").prop('checked', paramBuild[i++] == "1");

    }

    function updateImg() {
        var link = "@Url.Action("Signature")/" + btoa(Encode());
        $("#imgSign").attr("src", link);
        $("#htmlExport").val("<img src=\"" + link + "\" alt=\"@Model.ServerName\"/>");
        $("#forumExport").val("[img]" + link + "[/IMG]");

    }

    $(function () {

        $('.colpick').colorpicker({ format: "rgba" }).on('hidePicker', function (ev) {
            updateImg();
        });
        $(".txtbInput").focusout(function () {
            updateImg();
        });
        $(".chkbInput").click(function () {
            updateImg();
        });
        $("#htmlExport").on('mouseup', function() {
            $(this).select();
        });
        $("#htmlExport").tooltip({ html: true, trigger: 'focus' });
        $("#forumExport").on('mouseup', function() {
            $(this).select();
        });
        $("#forumExport").tooltip({ html: true, trigger: 'focus' });
        $("#Template1").attr("src", "@Url.Action("Signature")/" + btoa("1;1;1;300;150;255;78;93;108;255;43;62;80;255;43;62;80;1;0"));
        $("#Template1rd").on("click", function () {
            Decode("1;1;1;300;150;255;78;93;108;255;43;62;80;255;43;62;80;1;0");
            updateImg();
        });
        Decode("1;1;1;300;150;255;78;93;108;255;43;62;80;255;43;62;80;1;0");

        $("#Template2").attr("src", "@Url.Action("Signature")/" + btoa("1;1;2;300;150;255;0;0;0;255;255;255;255;255;43;62;80;1;0"));
        $("#Template2rd").on("click", function () {
            Decode("1;1;2;300;150;255;0;0;0;255;255;255;255;255;43;62;80;1;0");
            updateImg();
        });
        updateImg();
    });
</script>
<style type="text/css">
    .bg-inpgrp {
        background-color: #7E8D9C;
    }
</style>
<div class="row">
    <div class="col-md-6">
        <div class="well">
            <ul id="confTabs" class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#Templates" role="tab" data-toggle="tab">Templates</a></li>
                <li class=""><a href="#Size" role="tab" data-toggle="tab">Size</a></li>
                <li class=""><a href="#Elements" role="tab" data-toggle="tab">Elements</a></li>
                <li class=""><a href="#Colors" role="tab" data-toggle="tab">Colors</a></li>
                <li class=""><a href="#ImportExport" role="tab" data-toggle="tab">Import/Export</a></li>
            </ul>
            <div id="confTabsContent" class="tab-content">
                <div class="tab-pane fade active in form-horizontal" id="Templates">
                    <br />
                    <div class="form-group">
                        <div class="col-md-3">
                            <input type="radio" id="Template1rd" name="Templates" checked="yes" class="form-control" />
                        </div>
                        <div class="col-md-9">
                            <img id="Template1" style="border: 1px solid black" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <input type="radio" id="Template2rd" name="Templates" class="form-control" />
                        </div>
                        <div class="col-md-9">
                            <img id="Template2" style="border: 1px solid black" />
                        </div>
                    </div>

                    <br />
                </div>
                <div class="tab-pane fade form-horizontal" id="Size">
                    <br />
                    <div class="form-group">
                        <div class="col-md-4">
                            <label class="control-label">Width</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" id="Width" class="form-control txtbInput" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <label class="control-label">Height</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" id="Height" class="form-control txtbInput" />
                        </div>
                    </div>
                    <br />
                </div>
                <div class="tab-pane fade form-horizontal" id="Elements">
                    <br />
                    <div class="form-group">
                        <div class="col-md-4">
                            <label class="control-label">Show SESM Logo</label>
                        </div>
                        <div class="col-md-8">
                            <input id="chkImg" type="checkbox" class="form-control chkbInput" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <label class="control-label">Show Status Logo</label>
                        </div>
                        <div class="col-md-8">
                            <input id="chkStatusImg" type="checkbox" class="form-control chkbInput" />
                        </div>
                    </div>
                    <br />
                </div>
                <div class="tab-pane fade form-horizontal" id="Colors">
                    <br />
                    <div class="form-group">
                        <div class="col-md-4">
                            <label class="control-label">Background Color</label>
                        </div>
                        <div class="col-md-8">
                            <div class="input-group colpick" id="ColBg">
                                <span class="bg-inpgrp input-group-addon"><i></i></span>
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <label class="control-label">Primary Color</label>
                        </div>
                        <div class="col-md-8">
                            <div class="input-group colpick" id="ColPrim">
                                <span class="bg-inpgrp input-group-addon"><i></i></span>
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <label class="control-label">Secondary Color</label>
                        </div>
                        <div class="col-md-8">
                            <div class="input-group colpick" id="ColSec">
                                <span class="bg-inpgrp input-group-addon"><i></i></span>
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <br />
                </div>
                <div class="tab-pane fade form-horizontal" id="ImportExport">
                    <br />
                    <div class="form-group">
                        <div class="col-md-3">
                            <label class="control-label">HTML Export</label>
                        </div>
                        <div class="col-md-9">
                            <input id="htmlExport" type="text" class="form-control" data-toggle="tooltip" title="press <kbd><kbd>ctrl</kbd> + <kbd>C</kbd></kbd>" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <label class="control-label">Forum Export</label>
                        </div>
                        <div class="col-md-9">
                            <input id="forumExport" type="text" class="form-control" data-toggle="tooltip" title="press <kbd><kbd>ctrl</kbd> + <kbd>C</kbd></kbd>" />
                        </div>
                    </div>
                    <div class="col-lg-offset-3 col-md-9">
                        <button id="btnImport" class="btn-primary btn-lg">Import</button>
                    </div>
                    <br />
                    <br />
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <img id="imgSign" />
    </div>
</div>
