@{
    ViewBag.Title = "Map List";
    List<SelectListItem> listDir = (List<SelectListItem>) ViewData["listDir"];
    int id = (int)ViewData["ID"];
}
@model SESM.Models.MapViewModel
<h2>@ViewBag.Title</h2>


<div class="row">
    <div class="col-md-12">
        <section id="loginForm">
            @using (Html.BeginForm("Maps", "Server", null, FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
            {

                <h4>Select A Map : </h4>
                <hr />
                @Html.ValidationSummary(true)
                <div class="form-group">
                    <div class="col-md-12">

                        @Html.DropDownListFor(m => m.MapName, listDir, new {@class = "form-control", size = "5"})
                        @Html.ValidationMessageFor(m => m.MapName)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <div class="btn-group">
                            <input type="submit" value="Select And (Re)Start" name="action:SaveMap" class="btn btn-default" />
                            <input type="submit" value="Delete Map" name="action:DelMap" class="btn btn-default" />
                            <input type="submit" value="Download Map" name="action:DownMap" class="btn btn-default" />
                        </div>
                        <br />
                        <br />
                        <div class="btn-group">
                            <a class="btn btn-default" href="@(Url.Action("NewMap", "Server", new { id = id }))">Create Map</a>
                            <a class="btn btn-default" href="@(Url.Action("UploadMap", "Server", new { id = id }))">Upload Map</a>
                        </div>
                    </div>
                </div>

            }
        </section>
    </div>

</div>