@model SESM.Models.Views.Settings.AutoUpdateViewModel
@{
    ViewBag.Title = "Auto-Update";
}
<div class="row">
    <div class="col-md-6">
        @using (Html.BeginForm("AutoUpdate", "Settings", null, FormMethod.Post, new { @class = "form-horizontal well", role = "form" }))
        {
            @Html.ValidationSummary()
            <div class="form-group">
                @Html.LabelFor(m => m.AutoUpdate, new { @class = "col-md-4 control-label" })
                <div class="col-md-8">
                    @Html.CheckBoxFor(m => m.AutoUpdate, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.AutoUpdate)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.CronInterval, new { @class = "col-md-4 control-label" })
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.CronInterval, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.CronInterval)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-4 col-md-8">
                    <div class="btn-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <a class="btn btn-default" href="@(Url.Action("Index"))">
            <span class="glyphicon glyphicon-chevron-left"></span> Back to Settings
        </a>
    </div>
</div>