@using SESM.Models.Views.Settings
@model SESM.Models.Views.Settings.DiagnosisViewModel
@{
    ViewBag.Title = "Diagnosis";
}

<div class="row">
    @foreach (DiagnosisElement item in Model.ElementList)
    {
        if(item.State == true)
        {
            <div class="alert alert-success">
                <h4><span class="glyphicon glyphicon-ok"></span> @item.Name</h4>
                <p>@Html.Raw(item.Message)</p>
            </div>
        }
        if (item.State == false)
        {
            <div class="alert alert-danger">
                <h4><span class="glyphicon glyphicon-remove"></span> @item.Name</h4>
                <p>@Html.Raw(item.Message)</p>
            </div>
        }
        if (item.State == null)
        {
            <div class="alert alert-info">
                <h4><span class="glyphicon glyphicon-arrow-up"></span> @item.Name</h4>
                <p>@Html.Raw(item.Message)</p>
            </div>
        }
    }
</div>