@using SESM.Tools
@model SESM.Models.View.Settings.UploadBinViewModel

@{
    ViewBag.Title = "Upload Binaries";
}

<h2>@ViewBag.Title</h2>


<div class="row">
    <div class="col-md-12">
        <section id="Form">
            @using (Html.BeginForm("UploadBin", "Settings", null, FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
            {
                @Html.ValidationSummary()
                <div class="form-group">
                    @Html.LabelFor(m => m.ServerZip, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.FileFor(m => m.ServerZip, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.ServerZip)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Upload" onclick="return confirm('This will restart all running servers, are you sure you want to save?');" class="btn btn-default" />
                    </div>
                </div>
            }
        </section>
    </div>

</div>