@model SESM.Models.Views.Account.RegisterViewModel
@{
    ViewBag.Title = "Register";
}
<div class="row">
    <div class="col-md-6">
        @using (Html.BeginForm("Register", "Account", null, FormMethod.Post, new { @class = "form-horizontal well", role = "form" }))
        {
            <div class="form-group">
                @Html.LabelFor(m => m.Login, new { @class = "col-md-4 control-label" })
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.Login, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Login)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-4 control-label" })
                <div class="col-md-8">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.RetypedPassword, new { @class = "col-md-4 control-label" })
                <div class="col-md-8">
                    @Html.PasswordFor(m => m.RetypedPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.RetypedPassword)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-4 control-label" })
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Email)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-4 col-md-8">
                    <input type="submit" value="Register" class="btn btn-primary" />
                </div>
            </div>
        }
    </div>
</div>

