@using SESM.DAL
@model SESM.Models.Views.Mod.ModViewModel
@{
    ViewBag.Title = "Mod List";
    List<SelectListItem> listDir = (List<SelectListItem>)ViewData["listDir"];
    int id = (int)ViewData["ID"];
    AccessLevel accessLevel = (AccessLevel)ViewData["AccessLevel"];
}
<div class="row">
    <div class="col-md-6">
        @using (Html.BeginForm("Index", "Mod", null, FormMethod.Post, new { @class = "form-horizontal well", role = "form" }))
        {
            @Html.ValidationSummary()
            <div class="form-group">
                <div class="col-md-12">
                    @Html.DropDownListFor(m => m.ModName, listDir, new { @class = "form-control center-block", size = "10", style = "max-width:none;width:94%" })
                    @Html.ValidationMessageFor(m => m.ModName)
                </div>
            </div>
            <div style="text-align: center;">
                <div class="btn-group">
                    <input type="submit" onclick="return confirm('This will delete this mod. Are you sure you want to do this ?');" value="Delete" name="action:DeleteMod" class="btn btn-danger" />
                    <a class="btn btn-success" href="@(Url.Action("Upload", "Mod", new {id = id}))">Upload</a>
                </div>
            </div>

        }
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <a class="btn btn-default" href="@(Url.Action("Status", "Server", new {id = id}))">
            <span class="glyphicon glyphicon-chevron-left"></span> Back to Server Status
        </a>
    </div>
</div>
