@using SESM.DAL
@model SESM.Models.Views.Mod.ModViewModel
@{
    ViewBag.Title = "Mod List";
    List<SelectListItem> listDir = (List<SelectListItem>) ViewData["listDir"];
    int id = (int)ViewData["ID"];
    AccessLevel accessLevel = (AccessLevel)ViewData["AccessLevel"];
}
<div class="row">
    <section id="Form">
        @using (Html.BeginForm("Index", "Mod", null, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <div class="col-md-3">
                @Html.ValidationSummary(true)
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.DropDownListFor(m => m.ModName, listDir, new {@class = "form-control", size = "15"})
                        @Html.ValidationMessageFor(m => m.ModName)
                    </div>
                </div> 
            </div>
            <div class="col-md-9" >
                <div class="form-group">
                    <div class="col-md-12">
                        <br/>
                        <br/>
                        <div class="btn-group-vertical">
                            <input type="submit" onclick="return confirm('This will delete this mod. Are you sure you want to do this ?');" value="Delete Mod" name="action:DeleteMod" class="btn btn-default" />
                            <a class="btn btn-default" href="@(Url.Action("Upload", "Mod", new {id = id}))">Upload Mod</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </section>
</div>
<div class="row">
    <div class="col-md-12">
        <a class="btn btn-default" href="@(Url.Action("Status", "Server", new {id = ViewData["ID"]}))">Back to Server Status</a>
    </div>
</div>